<h1 class="page-header text-center">{{exercise}}</h1>
<h3 class="text-center">It's Time to Max</h3>
<h3><form autocomplete="off">
  <div class="form-group text-center">
    <label>Current Max: {{currentMax}}</label>
  </div>
  <div class="form-group text-center">
    <label>New Max: </label>
    <input type="text" [(ngModel)]="newMax" name="newMax" class="main" maxlength="4">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-success" (click)=addMax()>Submit</button>     
  </div>
</form></h3>
